# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries & Shared objects (inc. Windows DLLs)
*.so
*.dll
*.so.*
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Executables
*.exe
*.out
*.app
